<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
        <title>
            {% if title %}
            {{ title }}
            {% else %}
            App
            {% endif %}
        </title>
    </head>
    <body>
        <header>
            <nav class="nav navbar">
                <a href="{{ url_for('home') }}">Home</a>
                {% if 'loggedin' in session %}
                <a href="{{ url_for('account') }}">Account</a>
                <a href="{{ url_for('logout') }}">Logout</a>
                <a href="{{ url_for('bookings') }}">My Bookings</a>
                {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </nav>
        </header>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>