{% extends "layout.html" %}
{% block content %}
    {% if isAvailable %}
    <div><h3>Available</h3></div>
    {% else %}
    <div><h3>Not Available. Book to wait.</h3></div>
    {% endif %}
    <form action="{{ url_for('book',room_id=room[0]) }}" method="POST">
        Room ID:
        <input type="number" name="room_id" value="{{ room[0] }}" readonly>
        Room Type:
        <input type="text" name="room_type" value="{{ room[1] }}" readonly>
        Charge:
        <input type="text" name="charge" value="{{ room[2] }}" readonly>
        From Date:
        <input type="date" name="from_date" value="{{ from_date }}" readonly>
        Room ID:
        <input type="date" name="to_date" value="{{ to_date }}" readonly>
        <input type="submit" name="Book" value="Book">
    </form>
{% endblock content %}